.banner {
  background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg")
    center center;
  height: 50vh;
  position: relative;
}

.banner__info {
  background-color: black;
  color: white;
  padding: 20vh 3rem 2.5rem 5rem;
  width: 300px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .banner__info {
    padding: 14vh 3rem 2rem 3rem;
    width: 100%;
  }
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff385c !important;
}

.banner__info > button {
  background-color: #ff385c;
  color: #fff;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: #fff;
  color: #ff385c;
}

.banner__info > h5 {
  margin-top: 10px;
}
