.searchResult > a {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult__infoTop {
  width: 40vw;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__stars {
  display: flex;
  align-items: center;
}

.searchResult__star {
  color: red;
}

.searchResult__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.searchResult__price > p {
  text-align: right;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .searchResult > a {
    flex-direction: column;
    margin: 0;
  }
  .searchResult img {
    width: 100%;
    object-fit: cover;
  }
  .searchResult__info {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .searchResult__heart {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .searchResult__infoTop {
    width: 100%;
    margin-top: 8px;
  }

  .searchResult__infoTop > p {
    font-size: 1rem;
  }

  .searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
  }

  .searchResult__infoTop > .searchResult__infoTopDivider {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .searchResult__infoBottom {
    display: flex;
    flex-direction: column;
  }

  .searchResult__stars {
    margin-top: 8px;
    font-size: 1rem;
  }

  .searchResult__stars strong {
    font-weight: 400;
  }

  .searchResult__price {
    position: static;
  }

  .searchResult__price > h2 {
    font-size: 1rem;
    margin-top: 8px;
  }

  .searchResult__price > p {
    text-align: left;
    text-decoration: underline;
    color: gray;
    font-size: 14px;
    margin-top: 4px;
  }
}
